nav {
    background-color: #e61d3b;
    color: white;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: #911326;
    text-decoration: none;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#bottom {
    flex: 1;
}

h3 {
    margin-bottom: 5px;
    font-size: 15px;
}

h4 {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight:normal;
}

h5 {
    margin-left: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 15px;
    font-weight:normal;
}

h6 {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
    font-weight:normal;
}

.home-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#song-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 310px);
    justify-content:space-evenly;
}


.song-item {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 300px;
    height: 75px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 50px 0px 50px 0px;
}

.song-item-text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.song-container-bottom-margin {
   width: 100%;
   height: 100px;
}

.notifications-container {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    flex: 15%;
}

.notification {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.notification-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.notification-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.notification-data1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notification-data2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.close {
    background-image: url('/assets/close.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}

.central-container {
    background-color: white;
    flex: 70%;
}

.navigation-container {
    background-color: #fafafa;
    flex: 15%
}

.margin-10-percent {
    margin-left: 10%;
    margin-right: 10%;
}

.mini-header {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0px;
}

.btn-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
    font-family: inherit;
    font-size: inherit;
    list-style: none;
    border:none;
    background-color:transparent;
    outline:none;
}

.btn-link:hover{
    color: #911326;
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    position: relative;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main button{
    padding: 10px 12px;
    margin: 0 10px;
}
.main #logo{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 25px;
    color: #ccc;
}
.main #logo i{
    margin-right: 15px;
}

/* left & right part */
.right,.left{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* song image */
.left img{
    height: 300px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 1px 0px 20px 12px rgba(240,240,240,0.2);
}


/* registration */
div.musicianDrop{
    display: none;
}

/* view artists profiles */
.card {
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-text{
    max-lines: 4;
}

/* reportst */
.table {
    max-width: none;
    table-layout: fixed;
    word-wrap: break-word;
    font-size: small;

}

.song-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(182, 103, 103);
    color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 75px;
}

.song-bar-text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 15%;
}

.volume-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
}

.duration-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%
}

.duration-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200%;
}

.play-button {
    padding-left: 1px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;	
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.5s;
    background: #FF8A65;
    color: white;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 50%;
    outline: none;
    height: 2px;
    margin: 0 15px;
  }

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #FF8A65;
    border-radius: 50%;
    cursor: pointer;
}
