nav{
    background-color: #e61d3b;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
}

nav li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover{
    color: black;
    text-decoration: none;
}

.btn-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
    font-family: inherit;
    font-size: inherit;
    list-style: none;
    border:none;
    background-color:transparent;
    outline:none;
    
}

.btn-link:hover{
    color: black;
    text-decoration: none;
}

div.musicianDrop{
    display: none;
}
