nav {
    background-color: #e61d3b;
    color: white;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: #911326;
    text-decoration: none;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#bottom {
    flex: 1;
}

h3 {
    margin-bottom: 5px;
    font-size: 15px;
}

h4 {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight:normal;
}

h5 {
    margin-left: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 15px;
    font-weight:normal;
}

.home-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.notifications-container {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    flex: 15%;
}

.notification {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.notification-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.notification-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.notification-data1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notification-data2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.close {
    background-image: url('/assets/close.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}

.central-container {
    background-color: white;
    flex: 70%;
}

.navigation-container {
    background-color: #fafafa;
    flex: 15%
}

.margin-10-percent {
    margin-left: 10%;
    margin-right: 10%;
}

.mini-header {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0px;
}

.btn-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
    font-family: inherit;
    font-size: inherit;
    list-style: none;
    border:none;
    background-color:transparent;
    outline:none;
}

.btn-link:hover{
    color: #911326;
    text-decoration: none;
}
